<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery.getJSON demo</title>
  <style>
  img {
    height: 100px;
    float: left;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
 
<div id="Courses"></div>
 
<script>

(function() {

  var coursesApi = "http://admin.canvas:3000/api/v1/courses?access_token=dt7bDG7L9zIYp0m9U1QxH8PC2jzyRkHFieurM2ancJSFTBRyqj1sqUqrogBK3Mly";
  $.ajax({url: coursesApi, success: function(result){
    var str = JSON.stringify(result, null, 2);
    // $("#Courses").html(result);
    $("#Courses").html(str);
  }});

})();

</script>
 
</body>
</html>