<div class="wrapper">
  <div class="container">
    <h1 class="alert alert-info this-works"></h1>
    <%#= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>
    <%= react_component("Certificate", props: { source: "http://admin.canvas:3000/api/v1/courses?access_token=FZx6oE8r4cgyUfvPK86MUbKpvphJpgJGIwgOfF9O0ipKAvcqZp8q592ma3eNm9WN"}, prerender: false) %>
  </div>
</div>